INPUT 
{ 
	FONT-SIZE: 11px; 
	COLOR: black; 
	FONT-FAMILY: Tahoma;
}

TEXTAREA
{
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma;
}
	
TABLE 
{ 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma; 
	border:0px solid black; 
}
	
BODY 
{ 
	MARGIN-TOP: 0px; 
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma;	
}

A:link {color: blue;}
A:visited {color: blue;}
A:hover {color: blue;}

SELECT 
{ 	
	FONT-SIZE: 11px; 
	FONT-FAMILY: Tahoma; 
}

.bodyPart
{
	background-color: #99ccff;
}

.tdHeader
{
	BORDER-TOP: #000000 4px double;
	BORDER-RIGHT: #000000 4px double; 
	BORDER-LEFT: #000000 4px double; 
	BORDER-BOTTOM: #000000 4px double;
	background-color:#B5C7E7; 
	text-align:center; 
	color:#18386B; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:26px
}


.tdHdrData
{
	BORDER-TOP: #000000 4px double;
	BORDER-RIGHT: #000000 4px double; 
	BORDER-BOTTOM: #000000 4px double;
	background-color:#B5C7E7; 
	text-align:center; 
	color:#18386B; 
	font-weight:bold;
	font-size:11px;
	HEIGHT:20px
}

.mandatory
{
	background-color:#FFDFbf;
}

.mandatory2
{
	background-color:#FFDFbf;
}

.tdLabel
{

	background-color:#e5ebf4; 
	color:#000000; 

}

.td 
{
	border:1px solid black; 
}

TD 
{
	HEIGHT: 21px;
}

.bText 
{
	FONT:bold 11px Tahoma;
}

.tdNoBorder 
{ 
	border:0px solid black;
	color:#fffff0; 
	font-weight:bold 
}

.tdNoBorder1 
{ 
	border:0px solid black;
}

IMG
{ 
	border:0px solid black;
}

.TblAlternating
{
	BACKGROUND-COLOR: #EFF3FF
}

.tdHeader1
{
	border:3px outset #FFFFFF;
	background-color:Navy; 
	text-align:center; 
	color:Cyan; 
	font-weight:bold;
	font-size:12px;
	HEIGHT:26px
}

.tdSmallHeader
{
	border:4px outset #FFFFFF;
	background-color:Navy; 
	text-align:center; 
	color:Cyan; 
	font-weight:bold;
	font-size:10px;
	HEIGHT:26px
}

.Button1
{
	border:2px outset #FFFFFF;
	background-color:#18386B;
	text-align:center; 
	text-decoration: none;
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	HEIGHT:26px
}

.buttonStructure
{
	border : 1px solid Navy;
	color : black;
	font-family : Tahoma;
	font-size:11;
	height : 19;
	background-color : Silver;
}

.TDBGColor
{
	background-color:linen;
}

.TDBGColor1
{
	background-color:Navy;
	color:White;
	border:1px groove #FFFFFF;
	text-align:left; 
	font-weight:bold;
}

.TDBGColor11
{
	background-color:#e5ebf4;
	color:black;
	border:1px groove #FFFFFF;
}

.TDBGColor2
{
	background-color:#DCDCDC;
	color:black;
	border:2px groove #FFFFFF;
	text-align:left; 
}

.TDBGColor3
{
	background-color:#DCDCDC;
	color:black;
	border:2px groove #FFFFFF;
	text-align:center; 
}



.TDBGColorValue
{
	
	color:black;
}

LEGEND
{
	background-color:white;
	text-align:left;
	color:black; 
	font-weight:bold;
	font-size:11px;
	HEIGHT:20px
}

.Link
{
	border:3px outset #FFFFFF;
	background-color:linen;
	text-align:center;
	color:black; 
	font-weight:bold;
	font-size:11px;
	HEIGHT:26px
}

.Link1
{
	border:1px outset #FFFFFF;
	background-color:#18386B;
	text-align:center;
	color:white; 
	font-weight:bold;
	font-size:11px;
	HEIGHT:20px
}

.BackGroundList
{
	BORDER-BOTTOM: #000000 1px outset;
	background-color:linen;
	color:black;
}

.HeaderPrint
{
	background-color : whitesmoke;
	border-bottom: black 1px outset;
	border-left: black 1px outset;
	border-right: black 1px outset;
	text-align: center;
}

.ItemPrint
{
	border-left: black 1px outset;
	border-right: black 1px outset;
}

.NumberBox
{
	text-align: right;
}

