<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UWBOX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="appid" value="UW"/>
    <add key="conn" value="EAAAACtxispweAe8wQ6elfny6cIre+d1cVXqYKpsADcw0/3efHS5HC3xDkQhqn94wYgWfAeulZ9RCHpFzxFLettJAvySnKEdIqT2Fw5Kz2VYlwf6vx/JbKOyUNjz/uZYnr6WGiaQ22DrJlMP4sYKrlfPLLI="/>
    <add key="enckey" value="01012015"/>
  </appSettings>
  <applicationSettings>
    <UWBOX.Properties.Settings>
      <setting name="UWBOX_SSRS_ReportExecutionService" serializeAs="String">
        <value>http://localhost:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </UWBOX.Properties.Settings>
  </applicationSettings>
</configuration>