<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler,                    Microsoft.ReportViewer.WebForms,                    Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="appid" value="AGR"/>
    <add key="conn" value="EAAAAOXZ8WGQo3t+6M1z6rpoFazjOHFAHsnwtROKoCdM9ZGxtpNe8hI4NyJ+UbqIXdgnQkoGF8ZJIBaYhJilt1CgxVa0q7cWT/vE8CroqyfOiKWPlM7WuWTZ1bLPrFYeozoq23iwGbZdzuorXjfd6mSsMBY="/>
    <add key="enckey" value="01012015"/>
  </appSettings>
</configuration>