<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CUSTOMER_PORTAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CUSTOMER_PORTAL-20171129143439;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CUSTOMER_PORTAL-20171129143439.mdf"/>
  </connectionStrings>
  <appSettings>
    <add key="appid" value="CP"/>
    <add key="conn" value="EAAAACtxispweAe8wQ6elfny6cIre+d1cVXqYKpsADcw0/3efHS5HC3xDkQhqn94wYgWfAeulZ9RCHpFzxFLettJAvySnKEdIqT2Fw5Kz2VYlwf6vx/JbKOyUNjz/uZYnr6WGiaQ22DrJlMP4sYKrlfPLLI="/>
    <add key="enckey" value="01012015"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <CUSTOMER_PORTAL.Properties.Settings>
      <setting name="CUSTOMER_PORTAL_SSRS_ReportExecutionService" serializeAs="String">
        <value>http://192.168.100.124:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </CUSTOMER_PORTAL.Properties.Settings>
  </applicationSettings>
</configuration>