<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="11480"/>
    <sessionState timeout="15"/>
  </system.web>
  <appSettings>
    <add key="appid" value="LQ"/>
    <add key="conn" value="EAAAACtxispweAe8wQ6elfny6cIre+d1cVXqYKpsADcw0/3efHS5HC3xDkQhqn94wYgWfAeulZ9RCHpFzxFLettJAvySnKEdIqT2Fw5Kz2VYlwf6vx/JbKOyUNjz/uZYnr6WGiaQ22DrJlMP4sYKrlfPLLI="/>
    <add key="enckey" value="01012015"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="11000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>