<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <add key="appid" value="LQ" />
    <add key="conn" value="EAAAACtxispweAe8wQ6elfny6cIre+d1cVXqYKpsADcw0/3efHS5HC3xDkQhqn94wYgWfAeulZ9RCHpFzxFLettJAvySnKEdIqT2Fw5Kz2VYlwf6vx/JbKOyUNjz/uZYnr6WGiaQ22DrJlMP4sYKrlfPLLI=" />
    <add key="enckey" value="01012015" />
  </appSettings>
</configuration>
