body {
    /*font-family: Verdana;
    font-size: 9pt;*/
}

.DataGrid {
    font-family: Verdana;
    font-size: small;
}

.DropDownList {
    font-family: Verdana;
    font-size: 8pt;
    height: 20px;
}

.DropDownListSmall {
    font-family: Verdana;
    font-size: 8pt;
}

.TextBox {
    font-family: Verdana;
    font-size: 8pt;
    height: 20px;
}

.Button {
    font-family: Verdana;
    font-size: 8pt;
}

.ButtonColor {
    border-radius: 10px;
    font-family: Verdana;
    font-size: 12px;
    background-color: dodgerblue;
    color: white;
}
